# Ignore everything inside wp-content
/wp-content/*
!/wp-content/themes/
!/wp-content/plugins/

# Ignore all themes and plugins
/wp-content/themes/*
/wp-content/plugins/*

# Allow only specific theme and plugin
!/wp-content/themes/master-of-magic-theme/
!/wp-content/themes/master-of-magic-theme/**

!/wp-content/plugins/master-of-magic-blocks/
!/wp-content/plugins/master-of-magic-blocks/**

# Ignore vendor and node_modules directories
/vendor/
/node_modules/

.DS_Store