<!-- wp:group {"align":"full","style":{"spacing":{"blockGap":"0"}},"backgroundColor":"primary-dark","layout":{"type":"constrained"}} -->
<div
  class="wp-block-group alignfull has-primary-dark-background-color has-background"
>
  <!-- wp:template-part {"slug":"header","theme":"master-of-magic-theme","area":"header","align":"wide"} /-->
  <!-- wp:pattern {"slug":"master-of-magic-theme/video-hero-with-cta-and-title"} /-->
</div>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"master-of-magic-theme/template-page"} /-->

<!-- wp:template-part {"slug":"footer", "theme":"master-of-magic-theme", "area":"footer"} /-->
